/* 카드 레이아웃 */
.filter-card {
    position: relative;
    overflow: hidden;
    padding: 20px 150px 20px 50px;
    width: 620px;
    height: 224px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
    background-color: #fff;
    border-radius: 20px;
    transition: box-shadow 0.3s ease;
}

/* 카드 내부 콘텐츠 */
.filter-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.filter-icon {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.filter-name {
    font-weight: 600;
    font-size: 18px;
}

.filter-description-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    z-index: 1;
}

/* 배경 이미지 */
.bgImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* 기타 */
.ex {
    color: #585858;
}

.back-icon {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}