body {
    background-color: #F3F3F3;
}

.all-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.filter-container {
    background-color: #FFFFFF;
    padding: 20px 50px;
    border-radius: 30px;
}

.title-container h2 {
    font-size: 23px;
}

.title-container p {
    font-size: 15px;
    color: #626262;
}

.filter-card {
    position: relative; /* 배경 이미지 기준 */
    overflow: hidden;   /* 배경 이미지가 넘치지 않게 */
    padding: 20px;
}

.filter-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.bgImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.filter-logo,
.filter-description-container {
    position: relative;
    z-index: 1;
}