/* 전역 설정 */
html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Pretendard-Regular', sans-serif;
    background-color: #F3F3F3;
}

::-webkit-scrollbar {
    display: none;
}

/* 전체 레이아웃 */
.all-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 40px 0;
    box-sizing: border-box;
    position: relative;
}