.gam-left-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 80%; */
    /* margin-top: 10PX; */
    margin-right: 40px;
}

.gam-ticket-logo {
    margin-top: 20px;
}
.ai-text {
    width: 400px;
    /* 너비를 %로 변경해서 반응형 */
    font-size: clamp(18px, 3vw, 30px);
    /* 글자 크기 반응형 */
    margin-top: 3vh;
    font-weight: 600;
    text-align: center;
}

.user-text {
    width: 60%;
    font-size: clamp(16px, 2.5vw, 22px);
    text-align: center;
    margin-top: 1.5vh;
}

.name {
    text-align: right;
    font-size: clamp(18px, 2.5vw, 25px);
    width: 80%;
    margin-top: 2vh;
    margin-left: 100px;
}

.layout-guide-image {
    /* background-color: rgb(179, 179, 179); */
    width: 73px;
}

.right-container {
    display: flex;
    /* gap: 5px; */
    transform: rotate(90deg);
    /* justify-content: space-between; */
}

/* 요일 + 월 */
.day-month {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 80px;
    /* background-color: aqua; */
    margin-top: 10px;
}
.day {
    font-size: 14px;
    font-weight: 500;
}
.month {
    font-size: 18px;
    font-weight: 700;
}

/* 일 */
.days {
    font-size: 50px;
    font-weight: 800;
    width: 120px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 연도 + 시간 */
.year-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 80px;
    /* background-color: aqua; */
    margin-top: 10px;
}
.year {
    font-size: 14px;
    letter-spacing: 0.2em;
}
.time {
    font-size: 12px;
}
