.gam-left-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-top: 12px;
}

.gam-lucky-ticket-text {
    font-size: 20px;
    font-weight: 800;
}

.gam-topper-text {
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 10px;
    height: 22px;
}

.gam-ai-text {
    width: 78%;
    height: 78px;
    margin-bottom: 7px;
    /* textWrap: balance는 CSS가 아니니 제거 */
    font-size: 24px;
    line-height: 1.3;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 800;
}

.gam-user-info {
    display: flex;
    gap: 20px;
    width: 78%;
    height: 90px;
    font-size: 18px;
    align-items: center;
}

.gam-concept-text {
    width: 30%;
    display: flex;
    justify-content: center;
}

.gam-user-content-text {
    width: 70%;
    display: flex;
    justify-content: flex-start;
}

.gam-ticket-info {
    display: flex;
    width: 78%;
    height: 75px;
    align-items: center;
    gap: 8%;
}

.gam-user-name {
    font-size: 32px;
    width: 190px;
    margin-left: 25px;
    font-weight: 800;
}

.gam-date-container-left {
    width: 70%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.gam-month-day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 88px;
}

.gam-month-text {
    font-size: 15px;
}

.gam-day-text {
    font-size: 20px;
    font-weight: 800;
}

.gam-days-text {
    font-size: 50px;
    font-weight: 600;
    margin-left: 9px;
}

.gam-year-hour-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 88px;
    gap: 10px;
}

.gam-year-text {
    letter-spacing: 0.3em;
}

.gam-hour-text {
    font-size: 15px;
}

@media (min-width: 768px) and (max-width: 1024px) {

    /* 텍스트 크기 조정 */
    .gam-lucky-ticket-text {
        font-size: 15px;
        margin-bottom: -4px;
    }

    .gam-topper-text {
        font-size: 12px;
    }

    .gam-ai-text {
        width: 320px;
        font-size: clamp(15px, 2.5vw, 26px);
        margin-top: -18px;
    }

    .gam-user-name {
        font-size: 30px;
    }

    /* 이미지 여백 */
    .gam-left-content-wrapper .layout-guide-image {
        padding-left: 60px;
    }

    /* 사용자 정보 영역 */
    .gam-user-info {
        height: 34px;
        font-size: 15px;
    }

    .gam-ticket-info {
        height: 90px;
    }

    /* 날짜 관련 */
    .gam-date-container-left {
        width: 230px;
        gap: 5%;
        /* 요소 간 거리 상대 지정 */
        margin-left: 10%;
        /* 여백도 유동적으로 */
        /* display: flex;
        flex-direction: column;
        align-items: center; */
    }

    .gam-month-text {
        font-size: clamp(8px, 4vw, 12px);
        margin-bottom: -6%;
        text-align: center;
    }

    .gam-day-text {
        font-size: clamp(14px, 5vw, 16px);
        text-align: center;
    }

    .gam-year-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: clamp(10px, 3.5vw, 11px);
        margin-bottom: -4%;
        text-align: center;
    }

    .gam-days-text {
        font-size: clamp(24px, 8vw, 40px);
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 5%;
        text-align: center;
    }

    .gam-hour-text {
        font-size: clamp(10px, 8vw, 12px);
        width: 70px;
        margin-left: 11%;
    }
}