.make-paletter-container {
    margin-top: 30px;
    margin-bottom: 60px;
}

.paletters {
    display: flex;
    gap: 22px;
}

.make-title {
    font-size: 32px;
    font-weight: 800;
}

.single-paletter {
    margin-top: 30px;
    width: 130px;
    box-shadow: 0px 86px 50px rgba(0, 0, 0, 0.05);
}