.result-animation-container {
    position: absolute;
    z-index: 1;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    /* justify-content: center; */
    transition: opacity 0.5s ease;
    opacity: 1;
}

.result-animation-hidden {
    opacity: 0;
    pointer-events: none;
}

.back-container {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 528px;
    height: 100%;
    justify-content: center;
}

.animation-frame {
    width: 360px;
}

.circle {
    width: 394px;
    height: 394px;
    background-color: #FFFFC3;
    border-radius: 100%;
    filter: blur(124px);
}

.ticketview {
    position: absolute;
    z-index: 3;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 47px;
}

.ticketview h1 {
    font-size: 28px;
    font-weight: 600;
}

.back-container :nth-child(1) {
    position: absolute;
    top: 100px;
    left: 10px;
    width: 91px;
}

.back-container :nth-child(3) {
    position: absolute;
    bottom: 300px;
    right: 10px;
    width: 91px;
}