body,
html {
    overflow: hidden;
    height: 100%;
}

.funny-page {
    background-image: url('/images/funnypage-background.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-family: 'Arial', sans-serif;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.style-page {
    background-image: url('/images/stylepage-background.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-family: 'Arial', sans-serif;

    display: flex;
    justify-content: center;
    /* 가로 가운데 정렬 */
    align-items: flex-start;
    /* 세로 위 정렬 */
}

.emotion-page {
    background-image: url('/images/emotionpage-background.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-family: 'Arial', sans-serif;

    display: flex;
    justify-content: center;
    /* 가로 가운데 정렬 */
    align-items: flex-start;
    /* 세로 위 정렬 */
 
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emotion-font-image {
    margin-top: 70px;
}

.funny-font-image {
    margin-top: 70px;
}

.style-font-image {
    margin-top: 70px;
}

.ticket-image-list {
    display: grid;
    grid-template-columns: repeat(5, 590px); 
    gap: 32px;
    width: 2500px; /* 가운데 3개 + 좌우 살짝씩만 보이도록 */
    overflow: hidden;
    margin: 40px auto 0 auto; /* 가운데 정렬 */
    position: relative;
}
.ticket-image-item {
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
}

.ticket-image-item img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.dot-container {
    position: fixed;
    bottom: 30px; /* 화면 아래에서 띄우는 정도 */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 6px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #80FF00;
}